@model IEnumerable<beadando.Models.Downloadable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-sm mt-3">
    <h1>Letölthető fájlok</h1>

    @if (TempData["message"] != null)
    {
        <p>@TempData["message"]</p>
    }


    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn btn-outline-success">Fájl feltöltése</a>
    }

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td class="d-flex flex-row justify-content-end gap-4">
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Részletek</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Törlés</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>